.btnStyle{
        width:200px;
        padding:10px 30px;
        margin:0 auto;
        background-color:#387ed1;
        border:none;
        border-radius:3px;
        color:#fff;
        font-size:1.2em;
        font-weight:500;
        margin-top:25px
    }
   
.minibtn{
        width:150px;
        height:40px;
        background-color:#387ed1;
        border:none;
        border-radius:3px;
        color:#fff;
        font-size:1.2em;
        font-weight:500;
}    
.headStyle{
        font-size:1.75rem;
        line-height:1.25;
        font-weight:500;
        color: #424242;
}

.hStyle{
    font-size:1.25rem;
    font-weight: 400;
    margin-top: 10px;
    color: #424242;
    margin-bottom:15px;
    }

.h2Style{
    font-size: 1.5rem;
    font-weight: 500;
    color: #424242;
}   

.h3Style{
    font-size: 1.25rem;
    font-weight: 500;
    color: #424242;
    line-height: 1.6;
} 

.pStyle{
    font-size: 1.1rem;
    font-weight: 400;
    color: #666;
    /* margin-bottom: 32px; */
    margin-top: 5px;
    line-height: 1.6;
}

.aStyle{
    color: #387ed1;
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
}

.aStyle:hover{
    color:black;
}

@media (max-width:1296px){
    .containar{
        padding:0px 80px 120px 30px;
    }
}

@media (max-width:992px){
    .containar{
        padding:0px 20px 120px 20px;
    }
    .mediah2{
    font-size: 1.25rem;
    font-weight: 500;
    color: #424242;
    line-height: 1.6;
    }
}


@media (min-width:1296px){
    .containar{
        padding: 0px 180px 120px 180px;
    }
}

.pfont{
        font-size: 0.85rem;;
        font-weight:400;
        color:#9b9b9b;
    }
   
.hover-effect {
  transition: all 0.3s ease-in-out;
}

.hover-effect:hover {
  /* background-color: #f8f9fa; light gray */
  transform: scale(1.03);
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
}
